<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Hachage de message</h4>
                    <form id="hashForm" class="forms-sample">
                        <div class="form-group row">
                            <label for="algorithms">Sélectionner un algorithme de hachage</label>
                            <select id="algorithms" name="algorithms" class="form-control">
                                <option value="" selected>Choisiser un algorithme</option>
                                <option th:each="algo : ${algos}" th:value="${algo.name}"  th:text="${'Hachage  :'+ algo.name}"></option>
                            </select>
                        </div>
                        <div class="form-group row" id="divsize" style="display: none">
                            <label for="size">Taille</label>
                            <select id="size" name="size" class="form-control">
                            </select>
                        </div>
                        <script>
                            alogoSelect = document.getElementById("algorithms");
                            sizeSelect= document.getElementById("size");
                            const algorithmsWithKeyOptions = new Map();
                            algorithmsWithKeyOptions.set("SHA-1", [160]);
                            algorithmsWithKeyOptions.set("SHA-256", [256]);
                            algorithmsWithKeyOptions.set("SHA-384", [384]);
                            algorithmsWithKeyOptions.set("SHA-512", [512]);
                            algorithmsWithKeyOptions.set("SHA-3-256", [256]);
                            algorithmsWithKeyOptions.set("MD5", [128]);
                            algorithmsWithKeyOptions.set("Whirlpool", [512]);
                            algorithmsWithKeyOptions.set("GOST R 34.11-94", [256]);
                            function getSize() {
                                const selectedAlgo = alogoSelect.value;
                                sizeSelect.innerHTML = ''; // Clear the current options
                                if (algorithmsWithKeyOptions.get(selectedAlgo)) {
                                    algorithmsWithKeyOptions.get(selectedAlgo).forEach(sizeValue => {
                                        const option = document.createElement('option');
                                        option.value = sizeValue;
                                        option.textContent = sizeValue;
                                        sizeSelect.appendChild(option);
                                    });
                                    document.getElementById("divsize").style.display = 'block';
                                }
                            }
                            alogoSelect.addEventListener('change',function () {
                                console.log(alogoSelect.value)
                                getSize();
                            })
                            getSize();
                        </script>
                        <div class="form-group row">
                            <label for="messageOrFile1">Choisir entre un message ou un fichier :</label>
                            <select id="messageOrFile1" class="form-control">
                                <option value="message">Message</option>
                                <option value="file">Fichier</option>
                            </select>
                        </div>

                        <div id="messageInput1" class="form-group row">
                            <label for="message2">Message :</label>
                            <input type="text" name="message2" id="message2" class="form-control">
                        </div>
                        <div id="fileInput2" class="form-group row" style="display: none;">
                            <input type="file" id="file2" name="file2" style="display: none;">
                            <label for="file2" class="btn btn-primary mr-2" id="chooseFileButton1">Choisir un fichier</label>
                        </div>
                        <div class="form-group row" id="fileName">
                        </div>
                        <!--                        <div class="form-group row">-->
                        <!--                            <label for="message1">Message</label>-->
                        <!--                            <textarea class="form-control" id="message1" rows="2"></textarea>-->
                        <!--                        </div>-->
                        <script>
                            // Récupérez les éléments du formulaire
                            const messageOrFileSelect1 = document.getElementById('messageOrFile1');
                            const messageInput1 = document.getElementById('messageInput1');
                            const fileInpute = document.getElementById('fileInput2');
                            const mess = document.getElementById('message2');
                            const fileInputes = document.getElementById('file2');
                            const fileName = document.getElementById('fileName');
                            // Ajoutez un gestionnaire d'événement pour le changement de l'option
                            messageOrFileSelect1.addEventListener('change', function () {
                                if (messageOrFileSelect1.value === 'message') {
                                    messageInput1.style.display = 'block';
                                    fileInpute.style.display = 'none';
                                } else if (messageOrFileSelect1.value === 'file') {
                                    messageInput1.style.display = 'none';
                                    fileInpute.style.display = 'block';
                                }
                            });

                            // Assurez-vous d'initialiser l'affichage en fonction de la valeur initiale de l'option
                            if (messageOrFileSelect1.value === 'message') {
                                messageInput1.style.display = 'block';
                                fileInpute.style.display = 'none';
                            } else if (messageOrFileSelect1.value === 'file') {
                                messageInput1.style.display = 'none';
                                fileInpute.style.display = 'block';
                            }
                            fileInpute.addEventListener('change',function () {
                                const selectedFiles = fileInputes.files;

                                // Vérifiez s'il y a au moins un fichier sélectionné
                                if (selectedFiles) {
                                    console.log(selectedFiles[0])
                                    // Récupérez le nom du premier fichier sélectionné
                                    const selectedFileName = selectedFiles[0].name;

                                    // Mettez à jour l'élément d'étiquette avec le nom du fichier
                                    const h3 = document.createElement('h3');
                                    h3.innerHTML = "fichier selectionne : " + selectedFileName;
                                    fileName.innerHTML = ''; // Effacez le contenu précédent
                                    fileName.appendChild(h3);
                                } else {
                                    fileName.innerHTML = '';
                                    const p = document.createElement('p');
                                    p.innerHTML = "Aucun fichier sélectionné";
                                    p.style.color = 'red';
                                    fileName.appendChild(p);
                                }
                            })
                            mess.addEventListener('input',function () {
                                console.log(mess.value);
                            })

                        </script>
                        <button id="calcul" type="button" class="btn btn-primary mr-2">Calculer l'empreinte</button>
                    </form>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const btncalcul = document.getElementById('calcul');
                            const empreinte = document.getElementById('hash');
                            let messages = document.getElementById('message2').value;
                            let files = document.getElementById('file2').files[0];
                            const form = document.getElementById('hashForm');
                            document.getElementById('message2').addEventListener('input', function () {
                                messages = document.getElementById('message2').value;
                            });

                            document.getElementById('file2').addEventListener('change', function () {
                                files = document.getElementById('file2').files[0];
                            });

                            btncalcul.addEventListener('click', function () {
// Créez un objet contenant à la fois les données et le fichier
                                const formData = new FormData();
                                formData.append('algorithme', alogoSelect.value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('message',document.getElementById('message2').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('file',  document.getElementById('file2').files[0]); // Ajoutez le fichier s'il existe
                                fetch('hash', {
                                    method: 'POST',
                                    body: formData // Utilisez le FormData contenant les données et le fichier
                                })
                                    .then(response => response.text())
                                    .then(data => {
                                        form.addEventListener('submit', function (event) {
                                            // Empêchez la soumission par défaut du formulaire
                                            event.preventDefault();

                                            // Réinitialisez le formulaire
                                            form.reset();
                                        });
                                        const para = document.createElement('p');
                                        para.innerHTML = data;
                                        empreinte.appendChild(para);
                                    })
                                    .catch(error => {
                                        // console.error('Erreur lors de la requête AJAX :', error);
                                    });
                            });
                        });

                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Verification de hache</h4>
                    <form id="ver" class="forms-sample">
                        <div class="form-group row">
                            <label for="algorithmV">Sélectionner un algorithme de hachage</label>
                            <select id="algorithmV" name="algorithm1" class="form-control">
                                <option value="" selected>Choisiser un algorithme</option>
                                <option th:each="algo : ${algos}" th:value="${algo.name}"  th:text="${'Hachage  :'+ algo.name}"></option>
                            </select>
                        </div>
                        <div class="form-group row" id="divsize1" style="display: none">
                            <label for="size1">Taille</label>
                            <select id="size1" name="size1" class="form-control">
                            </select>
                        </div>
                        <script>
                            alogoSelect1 = document.getElementById("algorithm1");
                            sizeSelect1 = document.getElementById("size1");
                            const algorithmsWithKeyOptions1 = new Map();
                            algorithmsWithKeyOptions1.set("SHA-1", [160]);
                            algorithmsWithKeyOptions1.set("SHA-256", [256]);
                            algorithmsWithKeyOptions1.set("SHA-384", [384]);
                            algorithmsWithKeyOptions1.set("SHA-512", [512]);
                            algorithmsWithKeyOptions1.set("SHA-3-256", [256]);
                            algorithmsWithKeyOptions1.set("MD5", [128]);
                            algorithmsWithKeyOptions1.set("Whirlpool", [512]);
                            algorithmsWithKeyOptions1.set("GOST R 34.11-94", [256]);
                            function getSize1() {
                                const selectedAlgo1 = alogoSelect1.value;
                                sizeSelect1.innerHTML = ''; // Clear the current options
                                if (algorithmsWithKeyOptions1.get(selectedAlgo1)) {
                                    algorithmsWithKeyOptions1.get(selectedAlgo1).forEach(sizeValue => {
                                        const option = document.createElement('option');
                                        option.value = sizeValue;
                                        option.textContent = sizeValue;
                                        sizeSelect1.appendChild(option);
                                    });
                                    document.getElementById("divsize1").style.display = 'block';
                                }
                            }
                            alogoSelect1.addEventListener('change',function () {
                                getSize1();
                            })
                            getSize1();
                        </script>
                        <div class="form-group row">
                            <label for="messageOrFileV">Choisir entre un message ou un fichier :</label>
                            <select id="messageOrFileV" class="form-control">
                                <option value="message">Message</option>
                                <option value="file">Fichier</option>
                            </select>
                        </div>

                        <div id="messageInputV" class="form-group row">
                            <label for="messageV">Message :</label>
                            <input type="text" id="messageV" class="form-control">
                        </div>
                        <div id="fileInputV" class="form-group row" style="display: none;">
                            <input type="file" id="fileV" name="fileV" style="display: none;">
                            <label for="fileV" class="btn btn-primary mr-2" id="chooseFileButton">Choisir un fichier</label>
                        </div>
                        <div id="show"></div>
<!--                        <div class="form-group row">-->
<!--                            <label for="message1">Message</label>-->
<!--                            <textarea class="form-control" id="message1" rows="2"></textarea>-->
<!--                        </div>-->
                        <script>
                            // Récupérez les éléments du formulaire
                            const messageOrFileSelectV = document.getElementById('messageOrFileV');
                            const messageInputV = document.getElementById('messageInputV');
                            const fileInputV = document.getElementById('fileInputV');
                            const showFile = document.getElementById('show');
                            // Ajoutez un gestionnaire d'événement pour le changement de l'option
                            messageOrFileSelectV.addEventListener('change', function () {
                                if (messageOrFileSelectV.value === 'message') {
                                    messageInputV.style.display = 'block';
                                    fileInputV.style.display = 'none';
                                } else if (messageOrFileSelectV.value === 'file') {
                                    messageInputV.style.display = 'none';
                                    fileInputV.style.display = 'block';
                                }
                            });

                            // Assurez-vous d'initialiser l'affichage en fonction de la valeur initiale de l'option
                            if (messageOrFileSelectV.value === 'message') {
                                messageInputV.style.display = 'block';
                                fileInputV.style.display = 'none';
                            } else if (messageOrFileSelectV.value === 'file') {
                                messageInputV.style.display = 'none';
                                fileInputV.style.display = 'block';
                            }
                            document.getElementById('fileV').addEventListener('change',function () {
                                const selectedFiles  = document.getElementById('fileV').files;

                                // Vérifiez s'il y a au moins un fichier sélectionné
                                if (selectedFiles) {
                                    console.log(selectedFiles[0])
                                    // Récupérez le nom du premier fichier sélectionné
                                    const selectedFileName = selectedFiles[0].name;

                                    // Mettez à jour l'élément d'étiquette avec le nom du fichier
                                    const h3 = document.createElement('h3');
                                    h3.innerHTML = "fichier selectionne : " + selectedFileName;
                                    fileName.innerHTML = ''; // Effacez le contenu précédent
                                    showFile.appendChild(h3);
                                } else {
                                    showFile.innerHTML = '';
                                    const p = document.createElement('p');
                                    p.innerHTML = "Aucun fichier sélectionné";
                                    p.style.color = 'red';
                                    showFile.appendChild(p);
                                }
                            })

                        </script>
                        <div class="form-group row">
                            <label for="empreinte">Empreinte</label>
                            <textarea class="form-control" id="empreinte" rows="2"></textarea>
                        </div>
                        <button id="verify" type="button" class="btn btn-primary mr-2">Verifier</button>
                    </form>
                    <div id="verification"></div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const algo = document.getElementById('algorithmV');
                            const btnverify = document.getElementById('verify');
                            const empreintes = document.getElementById('hash');
                            const empreinte = document.getElementById('empreinte');
                            let messageV = document.getElementById('messageV').value;
                            let fileV = document.getElementById('fileV').files[0];
                            let messsage = '';
                            const form = document.getElementById('hashForm');
                            document.getElementById('message2').addEventListener('input', function () {
                                messages = document.getElementById('message2').value;
                            });

                            // document.getElementById('fileV').addEventListener('change', function () {
                            //     files = document.getElementById('fileV').files[0];
                            // });

                            btnverify.addEventListener('click', function () {
// Créez un objet contenant à la fois les données et le fichier
                                const formData = new FormData();
                                formData.append('algorithme', algo.value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('message',document.getElementById('messageV').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('empreinte',document.getElementById('empreinte').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('file',  document.getElementById('fileV').files[0]); // Ajoutez le fichier s'il existe
                                fetch('hash-verify', {
                                    method: 'POST',
                                    body: formData // Utilisez le FormData contenant les données et le fichier
                                })
                                    .then(response => response.text())
                                    .then(data => {
                                        form.addEventListener('submit', function (event) {
                                            // Empêchez la soumission par défaut du formulaire
                                            event.preventDefault();

                                            // Réinitialisez le formulaire
                                            form.reset();
                                        });
                                        var labelElement = document.createElement("label");
                                        if(data === 'true'){
                                            labelElement.className = "badge badge-success";
                                            labelElement.textContent = "Verification reussi";
                                        }
                                        else {
                                            labelElement.className = "badge badge-danger";
                                            labelElement.textContent = "Verification echoue";
                                        }
                                        if(messageOrFileSelectV.value === 'message'){
                                            messsage =  'Message : ' + document.getElementById('messageV').value;

                                        }
                                        else  if(messageOrFileSelectV.value === 'file'){
                                            messsage =  'Fichier : ' + document.getElementById('fileV').files[0].name;
                                        }
                                        empreintes.innerHTML = "";
                                        const p = document.createElement('p');
                                        const p1 = document.createElement('p');
                                        p.innerText = messsage;
                                        p1.innerText = 'Hash : '+ document.getElementById('empreinte').value;
                                        empreintes.appendChild(p);
                                        empreintes.appendChild(p1);
                                        const space = document.createElement('span');
                                        space.innerText = ' ';
                                        empreintes.appendChild(labelElement);
                                        empreintes.appendChild(space);
                                        const buttonElement = document.createElement("button");
                                        buttonElement.className = 'btn btn-primary mr-2'
                                        buttonElement.textContent = "Reinitialiser";
                                        buttonElement.addEventListener("click", function() {
                                            while (empreintes.firstChild) {
                                                empreintes.removeChild(empreintes.firstChild);
                                            }
                                            document.getElementById('ver').reset();
                                            document.getElementById('show').innerHTML = '';
                                        });
                                        empreintes.appendChild(buttonElement);
                                        messsage = '';
                                    })
                                    .catch(error => {
                                        // console.error('Erreur lors de la requête AJAX :', error);
                                    });
                            });
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Resultat</h4>
            <div id="hash">

            </div>
        </div>
    </div>
</section>
</body>
</html>
