<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Home</title>
</head>
<body>
<section layout:fragment="content">
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Chiffrement</h4>
        <form id="chiffre" class="form-sample">
          <div class="form-group row mr-3">
            <label for="algorithm">Sélectionner un algorithme:</label>
            <select id="algorithm" name="algorithm" class="form-control">
              <option th:each="algo : ${algorithmes}" th:value="${algo}" th:text="${algo}"></option>
            </select>
          </div>
          <div class="form-group row">
            <label for="passwordOrSecretKey">Choisir entre mot de passe et clé secrète:</label>
            <select id="passwordOrSecretKey" name="passwordOrSecretKey" class="form-control">
              <option value="password">Mot de passe</option>
              <option value="secretKey">Clé secrète</option>
            </select>
          </div>
          <div class="form-group row" id="passwordInput">
            <label for="password">Mot de passe PBE:</label>
            <input type="password" id="password" name="password" class="form-control">
          </div>
          <div class="form-group row" id="secretKeyInput" style="display: none;">
              <input type="file" id="secretKey">
          </div>
          <div class="form-group row">
            <label for="messageOrFiles">Choisir entre message et fichiers:</label>
            <select id="messageOrFiles" name="messageOrFiles" class="form-control">
              <option value="message">Message</option>
              <option value="files">Fichiers</option>
            </select>
          </div>
          <div class="form-group row" id="messageInput">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message" class="form-control">
          </div>
          <div class="form-group row" id="fileInput">
            <input type="file" id="import">
          </div>
          <button type="submit"  id="generateMac" class="btn btn-primary">
            Créer MAC
          </button>
        </form>
      </div>
    </div>
  </div>
  <script>
    // Gérer l'affichage conditionnel du champ de saisie de clé secrète en fonction du choix de l'utilisateur
    const passwordOrSecretKey = document.getElementById("passwordOrSecretKey");
    const passwordInput = document.getElementById("passwordInput");
    const secretKeyInput = document.getElementById("secretKeyInput");

    passwordOrSecretKey.addEventListener("change", function () {
      if (passwordOrSecretKey.value === "password") {
        passwordInput.style.display = "block";
        secretKeyInput.style.display = "none";
      } else if (passwordOrSecretKey.value === "secretKey") {
        passwordInput.style.display = "none";
        secretKeyInput.style.display = "block";
      }
    });
  </script>
  <div id="result">

  </div>
  <script>
    // Gérer l'affichage conditionnel du champ de saisie de fichier en fonction du choix de l'utilisateur
    const messageOrFiles = document.getElementById("messageOrFiles");
    const messageInput = document.getElementById("messageInput");
    const fileInput = document.getElementById("import");

    messageOrFiles.addEventListener("change", function () {
      if (messageOrFiles.value === "message") {
        messageInput.style.display = "block";
        fileInput.style.display = "none";
      } else if (messageOrFiles.value === "files") {
        messageInput.style.display = "none";
        fileInput.style.display = "block";
      }
    });
    fileInput.addEventListener("change",function () {
      const file = fileInput.files;
      if (file.length > 0){
        document.getElementById("p").innerHTML = file[0].name;
      }
    })
  </script>
  <script>
    // Ajoutez un gestionnaire d'événements pour le bouton "Générer MAC"
    document.getElementById("generateMac").addEventListener("click", function () {
      // Récupérez les valeurs des champs de formulaire
      const algorithm = document.getElementById("algorithm").value;
      const passwordOrSecretKey = document.getElementById("passwordOrSecretKey").value;
      const password = document.getElementById("password").value;
      const secretKey = document.getElementById("secretKey").files[0];
      const messageOrFiles = document.getElementById("messageOrFiles").value;
      const message = document.getElementById("message").value;
      const file = document.getElementById("import").files[0];

      // Créez un objet FormData pour envoyer les données
      const formData = new FormData();
      formData.append("algorithm", algorithm);
      formData.append("password", password);
      formData.append("secretKey", secretKey);
      formData.append("message", message);
      formData.append("file", file);

      // Effectuez la requête Fetch vers le contrôleur
      fetch("generate", {
        method: "POST",
        body: formData,
      })
              .then(response => response.text())
              .then(data => {
               document.getElementById("result").innerHTML = "";
               const p = document.createElement("p");
               p.innerHTML = "Resultat : "+ data;
                document.getElementById("result").appendChild(p);
              })
              .catch(error => {
                console.error("Erreur lors de la requête Fetch : " + error);
              });
    });
  </script>
</section>
</body>
</html>
