<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-md-6 d-flex align-items-stretch grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Signature de message</h4>
                    <form th:object="${signature}" id="hashForm" class="forms-sample">
                        <div class="form-group row">
                            <label for="algorithmV2">Sélectionner un algorithme de asymetrique</label>
                            <select id="algorithmV2" name="algorithm12" class="form-control">
                                <option value="" selected>Choisiser un algorithme</option>
                                <option th:each="algo : ${algos}" th:value="${algo.name}"  th:text="${'Signature : ' + algo.name}"></option>
                            </select>
                        </div>
                        <div class="form-group row" id="divsize">
                            <label for="size">Algorithme de signature</label>
                            <select id="size" name="size" class="form-control">
                            </select>
                        </div>
                        <div class="form-group row">
                            <input type="file" id="key" name="key" style="display:none">
                            <label for="key" class="btn btn-primary mr-2">Entrer votre clé privee</label>
                            <div id="fichier"></div>
                        </div>
                        <script th:inline="javascript">
                        /*<![CDATA[*/
                            alogoSelect = document.getElementById("algorithmV2");
                            sizeSelect= document.getElementById("size");
                            const algorithmsWithKeyOptions = /*[[ ${signature.getAllAlgoSignature()} ]]*/; // Remove the extra *
                        function getSize() {
                                const selectedAlgo = alogoSelect.value;
                            sizeSelect.innerHTML = ''; // Clear the current options
                                if (algorithmsWithKeyOptions[selectedAlgo]) {
                                    algorithmsWithKeyOptions[selectedAlgo].forEach(sizeValue => {
                                        const option = document.createElement('option');
                                        option.value = sizeValue;
                                        option.textContent = sizeValue;
                                        document.getElementById("size").appendChild(option);
                                    });
                                }
                            }
                            alogoSelect.addEventListener('change', getSize);
                            getSize();
                        document.getElementById("key").addEventListener('change',function () {
                            const p = document.createElement('p');
                            p.innerHTML =  document.getElementById("key").files[0].name;
                            document.getElementById("fichier").appendChild(p);
                        })
                        /*]]>*/
                        </script>

                        <div class="form-group row">
                            <label for="messageOrFile1">Choisir entre un message ou un fichier :</label>
                            <select id="messageOrFile1" class="form-control">
                                <option value="message">Message</option>
                                <option value="file">Fichier</option>
                            </select>
                        </div>

                        <div id="messageInput1" class="form-group row">
                            <label for="message2">Message :</label>
                            <input type="text" name="message2" id="message2" class="form-control">
                        </div>
                        <div id="fileInput2" class="form-group row" style="display: none;">
                            <input type="file" id="file2" name="file2" style="display: none;">
                            <label for="file2" class="btn btn-primary mr-2" id="chooseFileButton1">Choisir un fichier</label>
                        </div>
                        <div class="form-group row" id="fileName">
                        </div>
                        <!--                        <div class="form-group row">-->
                        <!--                            <label for="message1">Message</label>-->
                        <!--                            <textarea class="form-control" id="message1" rows="2"></textarea>-->
                        <!--                        </div>-->
                        <script>
                            // Récupérez les éléments du formulaire
                            const messageOrFileSelect1 = document.getElementById('messageOrFile1');
                            const messageInput1 = document.getElementById('messageInput1');
                            const fileInpute = document.getElementById('fileInput2');
                            const mess = document.getElementById('message2');
                            const fileInputes = document.getElementById('file2');
                            const fileName = document.getElementById('fileName');
                            // Ajoutez un gestionnaire d'événement pour le changement de l'option
                            messageOrFileSelect1.addEventListener('change', function () {
                                if (messageOrFileSelect1.value === 'message') {
                                    messageInput1.style.display = 'block';
                                    fileInpute.style.display = 'none';
                                } else if (messageOrFileSelect1.value === 'file') {
                                    messageInput1.style.display = 'none';
                                    fileInpute.style.display = 'block';
                                }
                            });

                            // Assurez-vous d'initialiser l'affichage en fonction de la valeur initiale de l'option
                            if (messageOrFileSelect1.value === 'message') {
                                messageInput1.style.display = 'block';
                                fileInpute.style.display = 'none';
                            } else if (messageOrFileSelect1.value === 'file') {
                                messageInput1.style.display = 'none';
                                fileInpute.style.display = 'block';
                            }
                            fileInpute.addEventListener('change',function () {
                                const selectedFiles = fileInputes.files;

                                // Vérifiez s'il y a au moins un fichier sélectionné
                                if (selectedFiles) {
                                    console.log(selectedFiles[0])
                                    // Récupérez le nom du premier fichier sélectionné
                                    const selectedFileName = selectedFiles[0].name;

                                    // Mettez à jour l'élément d'étiquette avec le nom du fichier
                                    const h3 = document.createElement('h3');
                                    h3.innerHTML = "fichier selectionne : " + selectedFileName;
                                    fileName.innerHTML = ''; // Effacez le contenu précédent
                                    fileName.appendChild(h3);
                                } else {
                                    const p = document.createElement('p');
                                    p.innerHTML = "Aucun fichier sélectionné";
                                    p.style.color = 'red';
                                    fileName.appendChild(p);
                                }
                            })
                            mess.addEventListener('input',function () {
                                console.log(mess.value);
                            })

                        </script>
                        <button id="calcul" type="button" class="btn btn-primary mr-2">Calculer l'empreinte</button>
                    </form>
                    <div id="hash">

                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const btncalcul = document.getElementById('calcul');
                            const empreinte = document.getElementById('hash');
                            let messages = document.getElementById('message2').value;
                            let files = document.getElementById('file2').files[0];
                            const form = document.getElementById('hashForm');
                            document.getElementById('message2').addEventListener('input', function () {
                                messages = document.getElementById('message2').value;
                            });

                            document.getElementById('file2').addEventListener('change', function () {
                                files = document.getElementById('file2').files[0];
                            });

                            btncalcul.addEventListener('click', function () {
// Créez un objet contenant à la fois les données et le fichier
                                const formData = new FormData();
                                formData.append('algorithme', document.getElementById('algorithmV2').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('option', document.getElementById('size').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('message',document.getElementById('message2').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('key', document.getElementById('key').files[0]); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('file',  document.getElementById('file2').files[0]); // Ajoutez le fichier s'il existe
                                fetch('sign', {
                                    method: 'POST',
                                    body: formData // Utilisez le FormData contenant les données et le fichier
                                })
                                    .then(response => response.text())
                                    .then(data => {
                                        form.addEventListener('submit', function (event) {
                                            // Empêchez la soumission par défaut du formulaire
                                            event.preventDefault();

                                            // Réinitialisez le formulaire
                                            form.reset();
                                        });

                                        const para = document.createElement('p');
                                        para.innerHTML = data;
                                        document.getElementById('result').appendChild(para);
                                    })
                                    .catch(error => {
                                        // console.error('Erreur lors de la requête AJAX :', error);
                                    });
                            });
                        });

                    </script>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Verification de signature</h4>
                    <form id="ver" class="forms-sample">
                        <div class="form-group row">
                            <label for="algorithmV1">Sélectionner un algorithme de asymetrique</label>
                            <select id="algorithmV1" name="algorithm11" class="form-control">
                                <option value="" selected>Choisiser un algorithme</option>
                                <option th:each="algo : ${algos}" th:value="${algo.name}"  th:text="${'Signature : ' + algo.name}"></option>
                            </select>
                        </div>
                        <div class="form-group row">
                        <label for="size1">Algorithme de signature</label>
                        <select id="size1" name="size1" class="form-control">
                        </select>
                    </div>
                        <div class="form-group row">
                            <input type="file" id="key1" name="key1" style="display:none">
                            <label for="key1" class="btn btn-primary mr-2">Entrer votre clé publique</label>
                            <div id="fichier1"></div>
                        </div>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            alogoSelecte = document.getElementById("algorithmV1");
                            sizeSelecte = document.getElementById("size1");
                            function getSize() {
                                const selectedAlgo = alogoSelecte.value;
                                sizeSelecte.innerHTML = ''; // Clear the current options
                                if (algorithmsWithKeyOptions[selectedAlgo]) {
                                    algorithmsWithKeyOptions[selectedAlgo].forEach(sizeValue => {
                                        const option = document.createElement('option');
                                        option.value = sizeValue;
                                        option.textContent = sizeValue;
                                        sizeSelecte.appendChild(option);
                                    });
                                }
                            }
                            alogoSelecte.addEventListener('change',getSize);
                            getSize();
                            document.getElementById("key1").addEventListener('change',function () {
                                const p = document.createElement('p');
                                p.innerHTML =  document.getElementById("key1").files[0].name;
                                document.getElementById("fichier1").appendChild(p);
                            })
                            /*]]>*/
                        </script>
                        <div class="form-group row">
                            <label for="messageOrFileV">Choisir entre un message ou un fichier :</label>
                            <select id="messageOrFileV" class="form-control">
                                <option value="message">Message</option>
                                <option value="file">Fichier</option>
                            </select>
                        </div>

                        <div id="messageInputV" class="form-group row">
                            <label for="messageV">Message :</label>
                            <input type="text" id="messageV" class="form-control">
                        </div>
                        <div id="fileInputV" class="form-group row" style="display: none;">
                            <input type="file" id="fileV" name="fileV" style="display: none;">
                            <label for="fileV" class="btn btn-primary mr-2" id="chooseFileButton">Choisir un fichier</label>
                        </div>
                        <div id="show"></div>
                        <!--                        <div class="form-group row">-->
                        <!--                            <label for="message1">Message</label>-->
                        <!--                            <textarea class="form-control" id="message1" rows="2"></textarea>-->
                        <!--                        </div>-->
                        <script>
                            // Récupérez les éléments du formulaire
                            const messageOrFileSelectV = document.getElementById('messageOrFileV');
                            const messageInputV = document.getElementById('messageInputV');
                            const fileInputV = document.getElementById('fileInputV');
                            const showFile = document.getElementById('show');
                            // Ajoutez un gestionnaire d'événement pour le changement de l'option
                            messageOrFileSelectV.addEventListener('change', function () {
                                if (messageOrFileSelectV.value === 'message') {
                                    messageInputV.style.display = 'block';
                                    fileInputV.style.display = 'none';
                                } else if (messageOrFileSelectV.value === 'file') {
                                    messageInputV.style.display = 'none';
                                    fileInputV.style.display = 'block';
                                }
                            });

                            // Assurez-vous d'initialiser l'affichage en fonction de la valeur initiale de l'option
                            if (messageOrFileSelectV.value === 'message') {
                                messageInputV.style.display = 'block';
                                fileInputV.style.display = 'none';
                            } else if (messageOrFileSelectV.value === 'file') {
                                messageInputV.style.display = 'none';
                                fileInputV.style.display = 'block';
                            }
                            document.getElementById('fileV').addEventListener('change',function () {
                                const selectedFiles  = document.getElementById('fileV').files;

                                // Vérifiez s'il y a au moins un fichier sélectionné
                                if (selectedFiles) {
                                    console.log(selectedFiles[0])
                                    // Récupérez le nom du premier fichier sélectionné
                                    const selectedFileName = selectedFiles[0].name;

                                    // Mettez à jour l'élément d'étiquette avec le nom du fichier
                                    const h3 = document.createElement('h3');
                                    h3.innerHTML = "fichier selectionne : " + selectedFileName;
                                    fileName.innerHTML = ''; // Effacez le contenu précédent
                                    showFile.appendChild(h3);
                                } else {
                                    const p = document.createElement('p');
                                    p.innerHTML = "Aucun fichier sélectionné";
                                    p.style.color = 'red';
                                    showFile.appendChild(p);
                                }
                            })

                        </script>
                        <div class="form-group row">
                            <label for="sign">Empreinte</label>
                            <textarea class="form-control" id="sign" rows="2"></textarea>
                        </div>
                        <button id="verify" type="button" class="btn btn-primary mr-2">Verifier</button>
                    </form>
                    <div id="verification"></div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const algo = document.getElementById('algorithmV1');
                            const btnverify = document.getElementById('verify');
                            const empreintes = document.getElementById('verification');
                            const empreinte = document.getElementById('sign');
                            let messsage = '';
                            let messageV = document.getElementById('messageV').value;
                            let fileV = document.getElementById('fileV').files[0];
                            const form = document.getElementById('hashForm');
                            document.getElementById('message2').addEventListener('input', function () {
                                messages = document.getElementById('message2').value;
                            });

                            // document.getElementById('fileV').addEventListener('change', function () {
                            //     files = document.getElementById('fileV').files[0];
                            // });

                            btnverify.addEventListener('click', function () {
// Créez un objet contenant à la fois les données et le fichier
                                const formData = new FormData();
                                formData.append('algorithme', algo.value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('message',document.getElementById('messageV').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('option',document.getElementById('size1').value);
                                formData.append('key',document.getElementById('key1').files[0]);
                                formData.append('empreinte',document.getElementById('sign').value); // Convertissez les données en une chaîne JSON et ajoutez-les
                                formData.append('file',  document.getElementById('fileV').files[0]); // Ajoutez le fichier s'il existe
                                fetch('sign-verify', {
                                    method: 'POST',
                                    body: formData // Utilisez le FormData contenant les données et le fichier
                                })
                                    .then(response => response.text())
                                    .then(data => {
                                        form.addEventListener('submit', function (event) {
                                            // Empêchez la soumission par défaut du formulaire
                                            event.preventDefault();

                                            // Réinitialisez le formulaire
                                            form.reset();
                                        });
                                        var labelElement = document.createElement("label");
                                        if(data === 'true'){
                                            labelElement.className = "badge badge-success";
                                            labelElement.textContent = "Verification reussi";
                                        }
                                        else {
                                            labelElement.className = "badge badge-danger";
                                            labelElement.textContent = "Verification echoue";
                                        }
                                        if(messageOrFileSelectV.value === 'message'){
                                            messsage =  'Message : ' + document.getElementById('messageV').value;

                                        }
                                        else  if(messageOrFileSelectV.value === 'file'){
                                            messsage =  'Fichier : ' + document.getElementById('fileV').files[0].name;
                                        }
                                        document.getElementById('result').innerText = "";
                                        const p = document.createElement('p');
                                        const p1 = document.createElement('p');
                                        p.innerText = messsage;
                                        p1.innerText = 'Signature : '+ document.getElementById('sign').value;
                                        document.getElementById('result').appendChild(p);
                                        document.getElementById('result').appendChild(p1);
                                        document.getElementById('result').appendChild(labelElement);
                                        const space = document.createElement('span');
                                        space.innerText = ' ';
                                        document.getElementById('result').appendChild(space);
                                        const buttonElement = document.createElement("button");
                                        buttonElement.className = 'btn btn-primary mr-2'
                                        buttonElement.textContent = "Reinitialiser";
                                        buttonElement.addEventListener("click", function() {
                                            while (empreintes.firstChild) {
                                                empreintes.removeChild(empreintes.firstChild);
                                            }
                                            document.getElementById('ver').reset();
                                            document.getElementById('hashForm').reset();
                                            document.getElementById('show').innerHTML = '';
                                            window.location.reload();
                                        });
                                        document.getElementById('result').appendChild(buttonElement);
                                    })
                                    .catch(error => {
                                        // console.error('Erreur lors de la requête AJAX :', error);
                                    });
                            });
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Resultat</h4>
            <div id="result">

            </div>
        </div>
    </div>
</section>
</body>
</html>
