<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Chiffrement et Dechiffrement</h4>
                <form th:object="${chiffrement}" th:action="@{save-symetrique}" method="post" class="form-sample" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="algorithm">Sélectionner un algorithme:</label>
                        <select id="algorithm" name="algorithm" class="form-control" th:field="*{algorithme}">
                            <option th:each="algo : ${algorithmes}" th:value="${algo.name}"  th:text="${algo.type + ' ' + algo.name}"></option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="taille">Taille</label>
                        <select class="form-control form-control-lg" id="taille" th:field="*{size}">
                        </select>
                    </div>
                    <div class="form-group row">
                        <div>
                            <button type="button" id="genererCleButton" class="btn btn-success mr-2">Chercher une cle dans la base de donne</button>
                        </div>
                        <div>
                            <input type="file" id="import" style="display: none;" name="import">
                            <label for="import" class="btn btn-success mr-2">Importer une cle</label>
                        </div>
                        <div>
                            <button type="button" id="genererCle" class="btn btn-success mr-2">Generer une de chiffrement</button>
                        </div>
                    </div>
                    <div class="form-group row" id="getkey" style="display: none;">
                        <label class="col-form-label" id="label" for="key">Cle de chiffrement disponible dans la base de donne</label>
                        <select class="form-control form-control-lg" id="key" th:field="*{keyPath}">
                        </select>
                    </div>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        // Get references to the select elements
                        const algorithmSelect = document.getElementById('algorithm');
                        const size = document.getElementById('taille');
                        const label = document.getElementById('label');
                        const keySelect = document.getElementById('key');
                        const getkeySelect = document.getElementById('getkey');
                        const keygenSelect = document.getElementById('genererCle');
                        // Define algorithm options based on your data
                        const algorithmOptions = {
                            "symetrique": ["AES", "DES"],
                            "asymetrique": ["RSA", "ECDSA"],
                            "partage cle": ["Diffie-Hellman"]
                        }; // Replace this with your actual data

                        // Function to update the algorithm dropdown based on the selected type
                        function updateSizeOptions() {
                            const selectedAlgo = algorithmSelect.value;
                            size.innerHTML = ''; // Clear the current options

                            const allSizeAlgorithm = /*[[ ${chiffrement.getAllSizeAlgorithm()} ]]*/; // Remove the extra *
                            console.log(allSizeAlgorithm);
                            if (allSizeAlgorithm[selectedAlgo]) {
                                allSizeAlgorithm[selectedAlgo].forEach(sizeValue => {
                                    const option = document.createElement('option');
                                    option.value = sizeValue;
                                    option.textContent = sizeValue;
                                    size.appendChild(option);
                                });
                            }
                        }
                        function generateKey(){
                            const enteredName = algorithmSelect.value;
                            const selectedSize = size.value;
                            fetch('gen-key', {
                                method: 'POST', // ou 'GET' selon la méthode de votre contrôleur
                                headers: {
                                    'Content-Type': 'application/json' // ou 'application/x-www-form-urlencoded' si nécessaire
                                },
                                // Vous pouvez ajouter des données à envoyer dans le corps de la requête ici
                                body: JSON.stringify({
                                    // Exemple de données à envoyer si nécessaire
                                    algorithme: enteredName,
                                    size: selectedSize
                                })
                            })
                                .then(response => response.blob())
                                .then(blob => {
                                    const blobUrl = URL.createObjectURL(blob);

                                    // Créez un lien de téléchargement
                                    const a = document.createElement('a');
                                    a.style.display = 'none';
                                    a.href = blobUrl;
                                    a.download = 'secretkey-' + enteredName+"-"+selectedSize+".key"; // Remplacez par le nom de votre fichier avec l'extension appropriée
                                    // Ajoutez le lien au DOM
                                    document.body.appendChild(a);

                                    // Cliquez sur le lien pour déclencher le téléchargement
                                    a.click();

                                    // Libérez la ressource URL après le téléchargement
                                    URL.revokeObjectURL(blobUrl);
                                    // Vous pouvez faire ce que vous voulez avec les données renvoyées par le contrôleur
                                })
                                .catch(error => {
                                    console.error('Erreur lors de la requête AJAX :', error);
                                });
                        }
                        function getKeys(){
                            const enteredName = algorithmSelect.value;
                            const selectedSize = size.value;
                            fetch('getkeys', {
                                method: 'POST', // ou 'GET' selon la méthode de votre contrôleur
                                headers: {
                                    'Content-Type': 'application/json' // ou 'application/x-www-form-urlencoded' si nécessaire
                                },
                                // Vous pouvez ajouter des données à envoyer dans le corps de la requête ici
                                body: JSON.stringify({
                                    // Exemple de données à envoyer si nécessaire
                                    algorithme: enteredName,
                                    size: selectedSize
                                })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    // Traitez la réponse ici (data) si votre contrôleur renvoie des données
                                    if (data){
                                        data.forEach(key => {
                                            const option = document.createElement('option');
                                            option.value = key.path;
                                            option.textContent = "cle " + key.name + " de " + key.size + " bits";
                                            keySelect.appendChild(option);
                                        });
                                    }

                                    // Vous pouvez faire ce que vous voulez avec les données renvoyées par le contrôleur
                                })
                                .catch(error => {
                                    keySelect.hidden = true;
                                    label.innerHTML = "aucune cle trouve";
                                    label.style.color = 'red';
                                });
                        }
                        // Add an event listener to the type dropdown to update the algorithm dropdown
                        algorithmSelect.addEventListener('change',updateSizeOptions);
                        keygenSelect.addEventListener('click',generateKey)
                        size.addEventListener('change',getKeys);
                        size.addEventListener('change',function () {
                            keySelect.innerHTML = "";
                        });
                        document.getElementById('genererCleButton').addEventListener('click', function() {
                            // Effectuez une requête AJAX vers l'URL de votre contrôleur
                            console.log(keySelect.style.display);
                            getkeySelect.style.display = 'block';
                            getKeys();
                        });
                        algorithmSelect.addEventListener('input', function () {
                            keySelect.innerHTML = "";
                        });
                        // Initial population of the algorithm dropdown
                        updateSizeOptions();
                        /*]]>*/
                    </script>
                <div class="form-group row">
                    <label class="col-form-label" for="mode">Operation</label>
                    <select class="form-control form-control-lg" id="mode" name="mode" th:field="*{mode}">
                        <option value="" selected>Choisiser le mode operatoire</option>
                        <option th:each="mode : ${chiffrement.getListeModeChiffrement()}" th:value="${mode}" th:text="${mode}"></option>
                    </select>
                </div>

                    <div class="form-group row">
                        <label for="messageOrFile">Choisir entre un message ou un fichier :</label>
                        <select id="messageOrFile" class="form-control">
                            <option value="message">Message</option>
                            <option value="file">Fichier</option>
                        </select>
                    </div>

                    <div id="messageInput" class="form-group row">
                        <label for="message">Message :</label>
                        <input type="textarea" id="message" class="form-control">
                    </div>
                    <div id="fileInput" class="form-group row" style="display: none;">
                        <input type="file" id="file" name="file" style="display: none;">
                        <label for="file" class="btn btn-success mr-2" id="chooseFileButton">Choisir un fichier</label>
                    </div>
                    <script>
                        // Récupérez les éléments du formulaire
                        const messageOrFileSelect = document.getElementById('messageOrFile');
                        const messageInput = document.getElementById('messageInput');
                        const fileInput = document.getElementById('fileInput');

                        // Ajoutez un gestionnaire d'événement pour le changement de l'option
                        messageOrFileSelect.addEventListener('change', function () {
                            if (messageOrFileSelect.value === 'message') {
                                messageInput.style.display = 'block';
                                fileInput.style.display = 'none';
                            } else if (messageOrFileSelect.value === 'file') {
                                messageInput.style.display = 'none';
                                fileInput.style.display = 'block';
                            }
                        });

                        // Assurez-vous d'initialiser l'affichage en fonction de la valeur initiale de l'option
                        if (messageOrFileSelect.value === 'message') {
                            messageInput.style.display = 'block';
                            fileInput.style.display = 'none';
                        } else if (messageOrFileSelect.value === 'file') {
                            messageInput.style.display = 'none';
                            fileInput.style.display = 'block';
                        }

                    </script>
                    <div hidden="true" id="divbtn" class="form-group row">
                        <button  type="submit" id="chiffrer" class="btn btn-success mr-2">
                            <p id="p"></p>
                        </button>
                    </div>
                    <script>
                        mode = document.getElementById("mode");
                        div = document.getElementById("divbtn");
                        p = document.getElementById("p");
                        const fileInput = document.getElementById('file');

                        // Function to handle file selection
                        fileInput.addEventListener('change', function () {
                            const selectedFile = fileInput.files[0];
                            if (selectedFile) {
                                // You can access the selected file using selectedFile variable
                                console.log('Selected file:', selectedFile);
                            }
                        });
                      function createBtn() {
                          btn = document.getElementById("chiffrer");
                          btn.innerHTML = "";
                          if (mode.value){
                              p.textContent = mode.value;
                              btn.appendChild(p);
                              div.hidden = false;
                          }
                      }
                      mode.addEventListener('change',createBtn);
                      createBtn();
                    </script>
                </form>
            </div>
        </div>

    </div>


</section>
</body>
</html>
