<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cryptographie Java</title>
    <link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
    <style>
        /* Increase the font size for specific elements */
        .card-title {
            font-size: 24px; /* Adjust the size as needed */
        }

        .card-description {
            font-size: 18px; /* Adjust the size as needed */
        }

        /* Increase the font size for form labels */
        .col-form-label {
            font-size: 16px; /* Adjust the size as needed */
        }

        /* Increase the font size for form controls */
        .form-control {
            font-size: 16px; /* Adjust the size as needed */
        }
        body {
            font-size: 20px; /* Ajustez la taille selon vos besoins */
        }
        .menu-title {
            font-size: 20px;
        }
    </style>

</head>

<body>
<div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo">
                <img th:src="@{/images/logo.png}" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-right">
                <li>
                    <form method="post" th:action="@{logout}">
                        <button class="btn btn-primary mr-2">
                            <span>Déconnexion</span>
                        </button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
                <li>
                    <a>
                        <span th:text="${session.welcome}">Bienvenue ??</span>
                    </a>
                </li>
            </ul>
            <li class="nav-item dropdown d-none d-xl-inline-block">
                <a>
                    <img class="img-xs rounded-circle" th:src="@{/images/img.png}" alt="Image de profil">
                </a>
            </li>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="icon-menu">Déconnexion</span>
            </button>
        </div>

    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{documentation}">
                        <i class="menu-icon mdi mdi-read"></i>
                        <span class="menu-title">Documentation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{symetrique}">
                        <i class="menu-icon mdi mdi-security"></i>
                        <span class="menu-title">Chiffrement</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{hachage}">
                        <i class="menu-icon mdi mdi-security"></i>
                        <span class="menu-title">Hachage</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{signature}">
                        <i class="menu-icon mdi mdi-marker"></i>
                        <span class="menu-title">Signature</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{algorithme}">
                        <i class="menu-icon mdi mdi-settings"></i>
                        <span class="menu-title">Configuration des clés</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{fichier}">
                        <i class="menu-icon mdi mdi-file"></i>
                        <span class="menu-title">Gestion des fichiers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{mac}">
                        <i class="menu-icon mdi mdi-security"></i>
                        <span class="menu-title">Message Authentification code</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{apropos}">
                        <i class="menu-icon mdi mdi-contact-mail"></i>
                        <span class="menu-title">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper" layout:fragment="content">
                Content is Here!
            </div>
            <!-- content-wrapper ends -->

            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2023
              <a href="http://www.bootstrapdash.com/" target="_blank">Massamba SOW</a>. Tous droits réservés.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Java Cryptographie
            </span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->

    </div>

    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<script th:src="@{/js/off-canvas.js}"></script>
<script th:src="@{/js/misc.js}"></script>
<script th:src="@{/js/dashboard.js}"></script>
<script type="text/javascript">

    $(document).ready(function() {

        funApplicationDisabled();

        funContactDisabled();

        funProductDisabled();

    });

    function funApplicationDisabled() {
        $('#app-input-service-id').prop('readOnly', true);
        $('#app-input-name').prop('disabled', true);
        $('#app-input-icon').prop('disabled', true);
        $('#app-input-meta-desc').prop('disabled', true);
        $('#app-input-meta-key').prop('disabled', true);
        $('#app-input-meta-google-site').prop('disabled', true);
        $('#app-btn-cancel').prop('disabled', true);
        $('#app-btn-save').prop('disabled', true);
        $('#app-btn-edit').prop('disabled', false);
    }

    function funContactDisabled() {
        $('#contact-input-service-id').prop('readOnly', true);
        $('#contact-name').prop('disabled', true);
        $('#contact-phone').prop('disabled', true);
        $('#contact-sms').prop('disabled', true);
        $('#contact-hiMessage').prop('disabled', true);
        $('#contact-address').prop('disabled', true);
        $('#contact-email').prop('disabled', true);
        $('#contact-btn-cancel').prop('disabled', true);
        $('#contact-btn-save').prop('disabled', true);
        $('#contact-btn-edit').prop('disabled', false);
    }

    function funProductDisabled() {
        $('#product-input-uuid').prop('readOnly', true);
        $('#product-input-name').prop('disabled', true);
        $('#product-input-img-src').prop('disabled', true);
        $('#product-input-img-alt').prop('disabled', true);
        $('#product-input-href').prop('disabled', true);
        $('#product-input-price').prop('disabled', true);
        $('#product-input-brochure').prop('disabled', true);
        $('#product-btn-cancel').prop('disabled', true);
        $('#product-btn-save').prop('disabled', true);
        $('#product-btn-edit').prop('disabled', false);
    }

</script>


</body>
</html>